<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>L2gConverterServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Lecture2GoConverter</display-name>
    <servlet-name>Lecture2GoConverter</servlet-name>
    <servlet-class>de.uhh.l2g.convert.ConverterManager</servlet-class>
    <init-param>
      <param-name>driverUrl</param-name>
      <param-value>jdbc:mysql://localhost/lportal?useUnicode=true&amp;characterEncoding=UTF-8&amp;useFastDateParsing=false</param-value>
    </init-param>
    <init-param>
      <param-name>driverClassName</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>dbUsername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>dbPassword</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>vRep</param-name>
      <param-value>/l2gomedia</param-value>
    </init-param>
    <init-param>
      <param-name>maxQueue</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>ffmpegBin</param-name>
      <param-value>/usr/local/bin/ffmpeg</param-value>
    </init-param>
    <init-param>
      <param-name>ffmpegConvertFileToMp4CommandParameter</param-name>
      <param-value>-f mp4 -c:v libx264 -preset slow -b:v 650k -r 25 -bufsize 175k -strict -2 -c:a aac -ar 44100 -b:a 64k -ac 1</param-value>
    </init-param>
    <init-param>
      <param-name>ffmpegExtractMp3FileFromMp4</param-name>
      <param-value>-f mp3 -vn</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lecture2GoConverter</servlet-name>
    <url-pattern>/file</url-pattern>
  </servlet-mapping>
</web-app>