<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Lecture2Go image builder</display-name>
  <description>
	The Lecture2Go image builder for creating images with metadata
  </description>
  <servlet>
    <servlet-name>ImageBuilder</servlet-name>
    <servlet-class>de.uhh.l2g.util.L2goImageBuilderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageBuilder</servlet-name>
    <url-pattern>/l2goimage</url-pattern>
  </servlet-mapping>
</web-app>